@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

@keyframes rotate {
  from {
    transform: rotate(0deg); /* Starting rotation */
  }
  to {
    transform: rotate(360deg); /* Ending rotation (completes a circle) */
  }
}

@keyframes scrollRight {
  0%,
  20%,
  100% {
    transform: translateY(0); /* Start facing right */
  }
  40% {
    transform: translateY(-5px) rotate(90deg); /* Still facing right */
  }
  50% {
    transform: translateY(7px) rotate(90deg); /* Rotate to face down */
  }
  60% {
    transform: translateY(-6px) rotate(90deg); /* Rotate back to facing right */
  }
  80% {
    transform: translateY(5px) rotate(90deg); /* Still facing right */
  }
}
